!!! 5
%html(lang="en-US")
  %head
    %title MyFLiX - a video on demand service
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
  %body
    %header
      = render 'shared/header'
    %section.content.clearfix
      = render 'shared/messages'
      = yield
    %footer
      &copy 2013 MyFLiX

%br
.well.explanation.col-xs-6.col-md-4
  %p
    %small
      Built with Ruby on Rails, MyFlix is a demo application/NetFlix clone.  Click on the "Sign in" link to view the complete feature set.
      
      The app includes the following features:
      %br
      %br

      %ul
        %li=" - Robust test suite with over 200 tests (unit, controller, and integration/feature).  The test suite uses popular tools like Rspec, Capybara, Faker, and Fabrication."
        %li - Skinny controller/fat model design
        %li - Token generation
        %li - Working Action Mailer with working MailGun integration. 
        %li - Social networking features that allow you to follow other users and review/rate movies.
        %li - Movie queue features: add to queue, queue re-ordering,  
        %li - Heroku Deployment
        %li - HAML view templates
